{{#pattern}}@Pattern(regexp = "{{{pattern}}}"){{/pattern}}
{{#maxLength}}{{#minLength}}@Length(min = {{minLength}}, max = {{maxLength}}){{/minLength}}{{/maxLength}}{{^maxLength}}{{#minLength}}@Length(min = {{minLength}}){{/minLength}}{{/maxLength}}{{#maxLength}}{{^minLength}}@Length(max = {{maxLength}}){{/minLength}}{{/maxLength}}
{{#maxItems}}{{#minItems}}@Size(min = {{minItems}}, max = {{maxItems}}){{/minItems}}{{/maxItems}}{{^maxItems}}{{#minItems}}@Size(min = {{minItems}}){{/minItems}}{{/maxItems}}{{#maxItems}}{{^minItems}}@Size(max = {{maxItems}}){{/minItems}}{{/maxItems}}
{{#minimum}}@Min({{minimum}}{{#exclusiveMinimum}} + 1{{/exclusiveMinimum}}){{/minimum}}
{{#maximum}}@Max({{maximum}}{{#exclusiveMaximum}} - 1{{/exclusiveMaximum}}){{/maximum}}
@Valid