package {{packageName}}.models.exception

import com.expediagroup.sdk.core.model.exception.client.OpenWorldClientException

class FieldConstraintViolationException(
    message: String,
    val constraintViolations: List<FieldConstraintViolation>
) : OpenWorldClientException(message)