class PaginationClient internal constructor(private val client: {{classname}}) {
{{#operation}}
    {{#returnType}}
    @JvmOverloads
    fun {{operationId}}({{>apiParamsDecleration}}): ResponsePaginator<{{{returnType}}}> {
        val response client.{{operationId}}WithResponse({{>apiParamsPassed}})
        return ResponsePaginator(client, response) { it.body<{{{returnType}}}>() }
    }
    {{/returnType}}
{{/operation}}
}