package {{apiPackage}}

{{#imports}}
    import {{import}}
{{/imports}}
import {{packageName}}.client.ResponsePaginator
import {{packageName}}.client.{{classname}}
import io.ktor.client.call.body
import java.util.UUID

{{#operations}}
class PaginationClient internal constructor(private val client: {{classname}}) {
{{#operation}}
    {{#returnType}}
    @JvmOverloads
    fun {{operationId}}({{>apiParamsDecleration}}): ResponsePaginator<{{{returnType}}}> {
        val response = client.{{operationId}}WithResponse({{>apiParamsPassed}})
        return ResponsePaginator(client, response) { it.body<{{{returnType}}}>() }
    }
    {{/returnType}}
{{/operation}}
}
{{/operations}}