package {{packageName}}.models.exception

import com.expediagroup.sdk.core.model.exception.client.OpenWorldClientException

class PropertyConstraintViolationException(
    message: String,
    val constraintViolations: List<PropertyConstraintViolation>
) : OpenWorldClientException(message)