package {{packageName}}.models.exception

{{#isRapid}}
    import com.expediagroup.sdk.core.model.exception.client.OpenWorldClientException
{{/isRapid}}
{{^isRapid}}
    import com.expediagroup.openworld.sdk.core.model.exception.client.OpenWorldClientException
{{/isRapid}}

/**
 * An exception to be thrown when a constraint on some property has been violated.
 *
 * @property message The detail message.
 * @property constraintViolations A list of the constraint violations that occurred
 */
class PropertyConstraintViolationException(
    message: String,
    val constraintViolations: List<PropertyConstraintViolation>
) : OpenWorldClientException(message)
