package {{packageName}}.models.exception

/**
 * Data class that holds the information of the constraint
 * violation found on the value of a certain property
 *
 * @param name The name of the constraint-violated field
 * @param path The path of the constraint-violated field
 * @param message The constraint violation message
 */
data class PropertyConstraintViolation(
    val name: String,
    val path: String,
    val message: String
)
